body {
    background-color: #00b0ff;
}

.hidden {
    display: none;
}

.display-panel {
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 6em auto;
    padding: 1em;
    width: 80%;
}